@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode styles */

body {
  color: black;

  /*Lady's Choice  */
  /* background: #146aad; */
  /* Knorr Background */
  background: #008641;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
